.header {
    margin-bottom: 42px;
    padding: 40px 0 30px 0;
    background-size: 780px;
    background-position: 800px -527px;
    > * {
        width: 1110px;
        margin: 0 auto;
    }
    &__nav {
        margin-bottom: 82px;
    }
}

.hero {
    width: 730px;
    &__headline {
        font-size: 56px;
    }
}

.desktop-menu {
    flex-grow: 1;
    justify-content: space-between;
}

.main {
    &__content {
        padding: 0;
        max-width: 1110px;
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }
}

.contact-form {
    margin: 0;
}

.clients {
    margin: 0;
}

.call-to-action {
    max-width: none;
    margin-top: 93px;
    &__content {
        display: flex;
        width: 1110px;
        justify-content: space-between;
        align-items: center;
    }
    &__headline {
        margin-bottom: 0;
    }
    .demo-form {
        margin-bottom: 0;
    }
}

.footer {
    background-position: 1050px -136px;
    &__nav {
        max-width: 1110px;
    }
    &__links {
        margin-right: 559px;
    }
}
