@mixin bgImageStyles($position: center center) {
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: $position;
}

@mixin headlineStyles(
    $primaryFontFamily: 'DM Serif Display',
    $secondaryFontFamily: serif,
    $fontSize: 32px,
    $lineHeight: 36px,
    $color: #36536B) {
        font-family: $primaryFontFamily, $secondaryFontFamily;
        font-size: $fontSize;
        line-height: $lineHeight;
        color: $color;
        @media (min-width: 768px) {
            font-size: 48px;
            line-height: 56px;
        }
}

@mixin summaryStyles(
    $fontSize: 15px,
    $lineHeight: 28px,
    $color: #6C8294
) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

@mixin buttonStyles(
    $backgroundColor: #BA4270,
    $color: #FBFCFE,
    $hoverColor: #FBFCFE,
    $hoverBackgroundColor: #DA6D97,
    $padding: 16px 32px,
    $primaryFontFamily: 'Public Sans',
    $secondaryFontFamily: sans-serif
) {
    padding: $padding;
    border-radius: 24px;
    font-family: $primaryFontFamily, $secondaryFontFamily;
    font-size: 15px;
    font-weight: bold;
    color: $color;
    background-color: $backgroundColor;
    cursor: pointer;
    &:hover {
        color: $hoverColor;
        background-color: $hoverBackgroundColor;
    }
}
