@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    min-height: 100vh;
    background-color: #EDF3F8;
    overflow-x: hidden;
}

header {
    padding: 40px 24px 0 24px;
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: center -550px;
    margin-bottom: 80px;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu {
            .mobile {
                .icon {
                    cursor: pointer;
                }
                .menu-container {
                    width: 300px;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #1B262F;
                    padding: 48px 24px;
                    transition: right 0.5s ease;
                    z-index: 1;
                    &.hidden {
                        right: -300px;
                    }
                    .layer {
                        width: 300px;
                        height: 100vh;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
                        background-repeat: no-repeat;
                        background-position: -277px -550px;
                        z-index: -1;
                    }
                    .close {
                        margin-bottom: 42px;
                        text-align: right;
                        .icon:hover {
                            path {
                                fill: #FBFCFE;
                            }
                        }
                        padding-bottom: 24px;
                        border-bottom: 1px solid #404b56;
                    }
                    ul {
                        margin-bottom: 32px;
                        li {
                            margin-bottom: 32px;
                            text-align: center;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            a {
                                font-size: 20px;
                                font-weight: bold;
                                color: #b9bec3;
                                font-family: 'Public Sans', sans-serif;
                                &:hover {
                                    color: #FBFCFE;
                                }
                            }
                        }
                    }
                    .call-to-action {
                        display: block;
                        background-color: #BA4270;
                        padding: 16px 32px;
                        border-radius: 24px;
                        font-size: 15px;
                        font-weight: bold;
                        font-family: 'Public Sans', sans-serif;
                        color: #FBFCFE;
                        text-align: center;
                        &:hover {
                            background-color: #DA6D97;
                        }
                    }
                }
            }
            .desktop {
                display: none;
            }
        }
    }
    article {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        .image {
            text-align: center;
            img {
                --width: 204.34px;
                position: relative;
                width: var(--width);
                left: calc(var(--width) * 0.06);
            }
        }
        section {
            margin-top: -24px;
            text-align: center;
            h1 {
                font-family: 'DM Serif Display', serif;
                font-size: 32px;
                line-height: 36px;
                color: #36536B;
                margin-bottom: 24px;
            }
            form {
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                label {
                    position: absolute;
                    left: -100vw;
                }
                input {
                    width: 100%;
                    padding: 16px 32px;
                    border-radius: 24px;
                    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                    font-family: 'Public Sans', sans-serif;
                    font-size: 15px;
                    font-weight: bold;
                    color: #36536B;
                    cursor: pointer;
                    &[type="submit"] {
                        box-shadow: none;
                        background-color: #BA4270;
                        color: #FBFCFE;
                        &:hover {
                            background-color: #DA6D97;
                        }
                    }
                }
                .item {
                    margin-bottom: 16px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            p {
                font-family: 'Public Sans', sans-serif;
                font-size: 15px;
                color: #6C8294;
                a {
                    font-weight: bold;
                    color: #6C8294;
                    &:hover {
                        color: #36536B;
                    }
                }
            }
        }
    }
}

#clients {
    padding: 80px 24px;
    background-color: #1B262F;
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-position: center -602px;
    background-repeat: no-repeat;
    > * {
        max-width: 367px;
        margin-left: auto;
        margin-right: auto;
    }
    div {
        padding-left: 24px;
        padding-right: 24px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 56px;
        svg {
            width: 100%;
            height: auto;
        }
    }
    section {
        text-align: center;
        h1 {
            font-family: 'DM Serif Display', serif;
            font-size: 32px;
            line-height: 36px;
            color: #FBFCFE;
            margin-bottom: 16px;
        }
        p {
            font-family: 'Public Sans', sans-serif;
            font-size: 15px;
            line-height: 28px;
            color: #b8bcc0;
            margin-bottom: 32px;
        }
        a {
            display: inline-block;
            color: #FBFCFE;
            font-family: 'Public Sans', sans-serif;
            font-size: 15px;
            font-weight: bold;
            padding: 16px 32px;
            border: 1px solid #FBFCFE;
            border-radius: 24px;
            &:hover {
                background-color: #FBFCFE;
                color: #1B262F;
            }
        }
    }
}

#benefits {
    article {
        max-width: 375px;
        margin: 0 auto 80px auto;
        img {
            width: 410px;
        }
        section {
            padding: 0 24px;
            text-align: center;
            h1 {
                font-family: 'DM Serif Display', serif;
                font-size: 36px;
                line-height: 36px;
                color: #36536B;
                margin-bottom: 24px;
            }
            p {
                font-family: 'Public Sans', sans-serif;
                font-size: 15px;
                line-height: 28px;
                color: #6C8294;
            }
        }
    }
}

@media (min-width: 768px) {
    header {
        padding-left: 40px;
        padding-right: 40px;
        background-size: 949px;
        background-position: center -663px;
        nav {
            margin-bottom: 8px;
            .menu {
                .mobile {
                    display: none;
                }
                .desktop {
                    display: flex;
                    align-items: center;
                    margin-left: 64px;
                    ul {
                        display: flex;
                        margin-right: 84px;
                        li {
                            margin-right: 40px;
                            &:last-child {
                                margin-right: 0;
                            }
                            a {
                                font-family: 'Public Sans', sans-serif;
                                font-size: 15px;
                                font-weight: bold;
                                color: #657c8f;
                                &:hover {
                                    color: #36536B;
                                }
                            }
                        }
                    }
                    .call-to-action {
                        background-color: #BA4270;
                        padding: 16px 24px;
                        border-radius: 24px;
                        font-size: 15px;
                        font-weight: bold;
                        font-family: 'Public Sans', sans-serif;
                        color: #FBFCFE;
                        &:hover {
                            background-color: #DA6D97;
                        }
                    }
                }
            }
        }
        article {
            max-width: 507px;
            .image {
                img {
                    --width: 253.83px;
                }
            }
            section {
                h1 {
                    font-size: 48px;
                    line-height: 56px;
                }
                form {
                    flex-direction: row;
                    .item {
                        margin: 0;
                        &:first-child {
                            margin-left: 20px;
                            input {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                        }
                        &:last-child {
                            margin-left: -20px;
                        }
                    }
                }
            }
        }
    }

    #clients {
        padding: 88px 116px;
        background-position: center -548px;
        > * {
            max-width: 536px;
        }
        div {
            padding-left: 0;
            padding-right: 0;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 64px;
            svg {
                width: auto;
                margin: auto;
            }
        }
        section {
            h1 {
                font-size: 48px;
                line-height: 56px;
                margin-bottom: 24px;
            }
        }
    }

    #benefits {
        padding-top: 40px;
        article {
            max-width: 573px;
            img {
                width: 610px;
            }
            section {
                margin-top: -48px;
                padding: 0;
                h1 {
                    font-size: 48px;
                    line-height: 56px;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    header {
        padding: 40px 0 0 0;
        background-size: 780px;
        background-position: 800px -172px;
        > * {
            width: 1110px;
            margin: 0 auto;
        }
        nav {
            margin-bottom: 0;
            .menu {
                flex-grow: 1;
                .desktop {
                    justify-content: space-between;
                }
            }
        }
        article {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            max-width: none;
            .image {
                img {
                    --width: 420px;
                }
            }
            section {
                max-width: 546px;
                text-align: start;
                h1 {
                    font-size: 72px;
                    line-height: 72px;
                    margin-bottom: 32px;
                }
                form {
                    .item {
                        &:first-of-type {
                            margin-left: 0;
                        }
                    }
                }
                p {
                    margin-left: 20px;
                }
            }
        }
    }

    #clients {
        background-position: -235px -359px;
        padding: 100px 165px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        div {
            margin: 0;
            height: 103px;
        }
        section {
            margin: 0 48px 0 0;
            text-align: start;
        }
    }
}
