@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    min-height: 100vh;
    background-color: #EDF3F8;
    overflow-x: hidden;
}

.header {
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: center -550px;
    margin-bottom: 80px;
    padding: 40px 24px 0 24px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu {
    &__open-icon {
        cursor: pointer;
    }
    &__content {
        width: 300px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #1B262F;
        padding: 48px 24px;
        transition: right 0.5s ease;
        z-index: 1;
        &--hidden {
            right: -300px;
        }
    }
    &__layer {
        width: 300px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
        background-repeat: no-repeat;
        background-position: -277px -550px;
        z-index: -1;
    }
    &__close-icon {
        text-align: right;
        margin-bottom: 42px;
        padding-bottom: 24px;
        border-bottom: 1px solid #404b56;
        &-svg {
            cursor: pointer;
            &:hover path{
                fill: #FBFCFE;
            }
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        text-align: center;
    }
    &__link {
        font-family: 'Public Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #b9bec3;
        margin-bottom: 32px;
        &:hover {
            color: #FBFCFE;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__call-to-action {
        display: block;
        background-color: #BA4270;
        padding: 16px 32px;
        border-radius: 24px;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Public Sans', sans-serif;
        color: #FBFCFE;
        text-align: center;
        &:hover {
            background-color: #DA6D97;
        }
    }
}

.desktop-menu {
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    &__image-wrapper {
        text-align: center;
    }
    &__image {
        --width: 204.34px;
        position: relative;
        width: var(--width);
        left: calc(var(--width) * 0.06);
    }
    &__content {
        margin-top: -24px;
        text-align: center;
    }
    &__headline {
        font-family: 'DM Serif Display', serif;
        font-size: 32px;
        line-height: 36px;
        color: #36536B;
        margin-bottom: 24px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        &-label {
            position: absolute;
            left: -100vw;
        }
        &-input {
            width: 100%;
            padding: 16px 32px;
            border-radius: 24px;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            font-family: 'Public Sans', sans-serif;
            font-size: 15px;
            font-weight: bold;
            color: #36536B;
            cursor: pointer;
            &[type="submit"] {
                box-shadow: none;
                background-color: #BA4270;
                color: #FBFCFE;
                &:hover {
                    background-color: #DA6D97;
                }
            }
        }
        &-item {
            margin-bottom: 16px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    &__text {
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        color: #6C8294;
    }
    &__link {
        font-weight: bold;
        color: #6C8294;
        &:hover {
            color: #36536B;
        }
    }
}

.main {
    margin-bottom: 80px;
}

.clients {
    padding: 80px 24px;
    background-color: #1B262F;
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-position: center -602px;
    background-repeat: no-repeat;
    > * {
        max-width: 367px;
        margin-left: auto;
        margin-right: auto;
    }
    &__logos {
        padding-left: 24px;
        padding-right: 24px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 56px;
    }
    &__logo {
        width: 100%;
        height: auto;
    }
    &__info {
        text-align: center;
    }
    &__headline {
        font-family: 'DM Serif Display', serif;
        font-size: 32px;
        line-height: 36px;
        color: #FBFCFE;
        margin-bottom: 16px;
    }
    &__summary {
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        line-height: 28px;
        color: #b8bcc0;
        margin-bottom: 32px;
    }
    &__link {
        display: inline-block;
        color: #FBFCFE;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: bold;
        padding: 16px 32px;
        border: 1px solid #FBFCFE;
        border-radius: 24px;
        &:hover {
            background-color: #FBFCFE;
            color: #1B262F;
        }
    }
}

footer {
    background-color: #1B262F;
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-position: center 177px;
    background-repeat: no-repeat;
    padding-bottom: 55px;
    padding-top: 40px;
    nav {
        ul {
            display: flex;
            &:first-child {
                flex-direction: column;
                align-items: center;
                margin-bottom: 40px;
                li {
                    margin-bottom: 30px;
                    &:first-child {
                        margin-bottom: 40px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        font-family: 'Public Sans', sans-serif;
                        font-size: 15px;
                        font-weight: bold;
                        color: #b9bec3;
                        &:hover {
                            color: #FBFCFE;
                        }
                    }
                }
            }
            &:last-child {
                justify-content: center;
                li {
                    margin-right: 24px;
                    &:last-child {
                        margin-right: 0;
                    }
                    svg:hover path {
                        fill: #DA6D97;
                    }
                }
            }
        }
    }
}

#benefits {
    article {
        max-width: 375px;
        margin: 0 auto 48px auto;
        &:nth-child(3) {
            display: flex;
            flex-direction: column;
            padding-top: 32px;
            section {
                margin-bottom: 48px;
                img {
                    width: auto;
                    margin-bottom: 32px;
                }
                h1 {
                    font-family: 'Public Sans', sans-serif;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 25px;
                    margin-bottom: 16px;
                }
                p {
                    line-height: 25px;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
            section {
                h1 {
                    font-family: 'DM Serif Display', serif;
                    font-size: 32px;
                    line-height: 36px;
                    color: #36536B;
                    margin-bottom: 32px;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    label {
                        position: absolute;
                        left: -100vw;
                    }
                    input {
                        width: 100%;
                        padding: 16px 32px;
                        border-radius: 24px;
                        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                        font-family: 'Public Sans', sans-serif;
                        font-size: 15px;
                        font-weight: bold;
                        color: #36536B;
                        cursor: pointer;
                        &[type="submit"] {
                            box-shadow: none;
                            background-color: #BA4270;
                            color: #FBFCFE;
                            &:hover {
                                background-color: #DA6D97;
                            }
                        }
                    }
                    .item {
                        margin-bottom: 16px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        img {
            width: 410px;
        }
        section {
            padding: 0 24px;
            text-align: center;
            h1 {
                font-family: 'DM Serif Display', serif;
                font-size: 36px;
                line-height: 36px;
                color: #36536B;
                margin-bottom: 24px;
            }
            p {
                font-family: 'Public Sans', sans-serif;
                font-size: 15px;
                line-height: 28px;
                color: #6C8294;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        padding-left: 40px;
        padding-right: 40px;
        background-size: 949px;
        background-position: center -663px;
    }

    .nav {
        margin-bottom: 8px;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
        align-items: center;
        margin-left: 64px;
        &__links {
            display: flex;
            margin-right: 84px;
        }
        &__link {
            font-family: 'Public Sans', sans-serif;
            font-size: 15px;
            font-weight: bold;
            color: #657c8f;
            margin-right: 40px;
            &:hover {
                color: #36536B;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
        &__call-to-action {
            background-color: #BA4270;
            padding: 16px 24px;
            border-radius: 24px;
            font-size: 15px;
            font-weight: bold;
            font-family: 'Public Sans', sans-serif;
            color: #FBFCFE;
            &:hover {
                background-color: #DA6D97;
            }
        }
    }

    .hero {
        max-width: 507px;
        &__image {
            --width: 253.83px;
        }
        &__headline {
            font-size: 48px;
            line-height: 56px;
        }
        &__form {
            flex-direction: row;
            &-item {
                margin: 0;
                &:first-of-type {
                    margin-left: 20px;
                    .hero__form-input {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
                &:last-of-type {
                    margin-left: -20px;
                }
            }
        }
    }

    .main {
        margin-bottom: 100px;
    }

    .clients {
        padding: 88px 116px;
        background-position: center -548px;
        > * {
            max-width: 536px;
        }
        &__logos {
            padding-left: 0;
            padding-right: 0;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 64px;
        }
        &__logo {
            width: auto;
            margin: auto;
        }
        &__headline {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 24px;
        }
    }

    footer {
        padding: 30px 40px;
        background-position: 378px -136px;
        nav {
            display: flex;
            justify-content: space-between;
            max-width: 909px;
            margin: auto;
            ul {
                &:first-child {
                    flex-direction: row;
                    margin: 0;
                    li {
                        margin: 0 40px 0 0;
                        &:first-child {
                            margin: 0 64px 0 0;
                        }
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
                &:last-child {
                    align-items: center;
                }
            }
        }
    }

    #benefits {
        padding-top: 40px;
        article {
            max-width: 573px;
            &:nth-child(3) {
                max-width: 989px;
                flex-direction: row;
                padding: 40px;
                margin-bottom: 0;
                section {
                    margin: 0 10px 0 0;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &:last-child {
                margin-top: 60px;
                section {
                    margin-top: 0;
                    margin-left: auto;
                    margin-right: auto;
                    width: 445px;
                    h1 {
                        font-size: 48px;
                        line-height: 56px;
                        margin-bottom: 40px;
                    }
                    form {
                        flex-direction: row;
                        .item {
                            margin: 0;
                            &:first-child {
                                input {
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                            }
                            &:last-child {
                                margin-left: -20px;
                            }
                        }
                    }
                }
            }
            img {
                width: 610px;
            }
            section {
                margin-top: -48px;
                padding: 0;
                h1 {
                    font-size: 48px;
                    line-height: 56px;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .header {
        padding: 40px 0 0 0;
        background-size: 780px;
        background-position: 800px -172px;
        > * {
            width: 1110px;
            margin: 0 auto;
        }
    }

    .nav {
        margin-bottom: 0;
    }

    .desktop-menu {
        flex-grow: 1;
        justify-content: space-between;
    }

    .hero {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        max-width: none;
        &__image {
            --width: 420px;
        }
        &__content {
            max-width: 546px;
            text-align: start;
        }
        &__headline {
            font-size: 72px;
            line-height: 72px;
            margin-bottom: 32px;
        }
        &__form-item:first-of-type {
            margin-left: 0;
        }
        &__text {
            margin-left: 20px;
        }
    }

    .clients {
        background-position: -235px -359px;
        padding: 100px 165px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        &__logos {
            margin: 0;
            height: 103px;
        }
        &__info {
            margin: 0 48px 0 0;
            text-align: start;
        }
    }

    footer {
        background-position: 1050px -136px;
        nav {
            max-width: 1110px;
        }
    }



    #benefits {
        article {
            max-width: 1015px;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            &:nth-child(2) {
                flex-direction: row-reverse;
                position: relative;
                left: 48px;
                img {
                    position: relative;
                    left: 90px;
                }
            }
            &:nth-child(3) {
                align-items: start;
                padding-left: 0;
                padding-right: 0;
                max-width: 1178px;
                justify-content: space-between;
                section {
                    text-align: center;
                    max-width: 350px;
                    margin-right: 0;
                }
            }
            &:last-child {
                max-width: none;
                section {
                    display: flex;
                    width: 1110px;
                    justify-content: space-between;
                    align-items: center;
                    h1 {
                        margin-bottom: 0;
                    }
                }
            }
            section {
                text-align: start;
            }
        }
    }
}
