.hero {
    max-width: 573px;
    margin: auto;
}

.info {
    padding: 0;
    max-width: 689px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
    &__section {
        display: flex;
        justify-content: space-between;
        text-align: start;
    }
    &__headline {
        margin-bottom: 0;
        font-size: 32px;
        line-height: 40px;
    }
    &__summary {
        max-width: 456px;
    }
}

.picture {
    margin-bottom: 64px;
    &__img {
        max-height: 267px;
    }
}

.stats {
    max-width: 689px;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    &__item {
        width: 223px;
        margin-bottom: 0;
        text-align: start;
        border-top: 1px solid #bfcbd5;
        border-bottom: 1px solid #bfcbd5;
        padding: 16px 0;
    }
}
